version: '3.9'

services:
  cryptosignal:
    build: .
    container_name: cryptosignal_app
    restart: always
    ports:
      - "5000:5000"
    env_file: .env
    volumes:
      - .:/app
    dns:
      - 8.8.8.8
      - 1.1.1.1